* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header-div {
  height: 400px;
  background: black;
  width: 100%;
}
.divider {
  height: 60px;
  width: 100%;
  background-image: url(../assets/images/divider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.cards-container {
  min-height: 100vh;
  /* background-color: #120982; */
  background-image: url(../assets/images/cardsbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
