* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main {
	background-image: url(../assets/images/bg1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}
.main-container {
	display: grid;
	grid-template-columns: auto auto;
	width: 100%;
	height: 100%;
}
.left-container,
.right-container {
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
}

span {
	font: 700 2em/1 "Oswald", sans-serif;
	letter-spacing: 0;
	padding: 0.25em 0 0.325em;
	display: block;
	margin: 0 auto;
	text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);

	/* Clip Background Image */

	background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
	filter: invert();
	-webkit-background-clip: text;
	background-clip: text;

	/* Animate Background Image */

	-webkit-text-fill-color: transparent;
	-webkit-animation: aitf 80s linear infinite;

	/* Activate hardware acceleration for smoother animations */

	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
}

/* Animate Background Image */

@-webkit-keyframes aitf {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}
