@font-face {
  font-family: blanka;
  src: url(../assets/fonts/Elianto-Regular.otf);
}
* {
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  background-color: #292c45;
  font-family: "Work Sans", sans-serif;
}
.banner {
  text-align: center;
  padding-top: 65px;
  color: #fff;
}
.banner-text {
  max-width: 850px;
  margin: auto;
}
.banner h1 {
  font-size: 2rem;
  font-weight: 400;
  font-family: blanka;
  word-spacing: 0.01em;
  /* letter-spacing: 2px; */
}
.banner ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
}
.banner ul li {
  list-style: none;
  margin: 20px 20px 0;
  position: relative;
  font-size: 20px;
  font-weight: 300;
}
.banner ul li:not(:first-child):before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 5px;
  left: -25px;
  background-color: #5b67b8;
  border-radius: 50px;
}
.earth {
  justify-items: center;
  margin: top 50px;
  border-width: 10px solid #fff;
  margin-top: 80px;
  padding-bottom: 300px;
  box-shadow: 0 4px 94px #384fde;
}
/* .earth-img {
  height: auto;
  padding-top: 225px;
  width: ;
} */
.earth-img img {
  width: 30%;
  height: auto;
  margin-top: 140px;
}
.circle {
  width: 44rem;
  height: 44rem;
  display: inline-block;
  border-radius: 100%;
  border: 1px solid #fff;
  position: relative;
  top: -40rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: circle 60s linear 0s infinite;
}
@keyframes circle {
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 500px) {
  #circle {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid #fff;
    position: relative;
    top: 20rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: circle 60s linear 0s infinite;
  }
}
.icon {
  fill: #fff;
  position: absolute;
  width: 100px;
  height: 100px;
  padding: 0px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #292c45;
  transition: all ease 0.5s;
}
.icon:hover {
  border-color: #808de2;
  background-color: #3951e8;
  box-shadow: 0 4px 94px #384fde;
}
.icon:nth-child(1) {
  /* arm */
  top: -40px;
  left: 300px;
  padding: 18px;
}
.icon:nth-child(2) {
  /* bot */
  top: 50px;
  right: 50px;
  padding: 15px;
}
.icon:nth-child(3) {
  /* bridge */
  top: 300px;
  left: -50px;
  padding: 15px;
}
.icon:nth-child(4) {
  /* electrical */
  top: 50px;
  left: 50px;
}
.icon:nth-child(5) {
  /* arm2 */
  top: 650px;
  left: 300px;
  padding: 15px;
}
.icon:nth-child(6) {
  /* bot2 */
  top: 550px;
  left: 50px;
  padding: 15px;
}
.icon:nth-child(7) {
  /* bridge2 */
  top: 300px;
  left: 650px;
  padding: 15px;
}
.icon:nth-child(8) {
  /* electrical2 */
  top: 530px;
  left: 550px;
}
.stone {
  position: fixed;
  width: 6px;
  height: 200px;
  z-index: -1;
  background-image: linear-gradient(to top, #384284, transparent);
  top: 400px;
  left: 100px;
  border-radius: 50px;
  opacity: 0;
  animation: stone 7s ease-out 0s infinite;
}
@keyframes stone {
  from {
    transform: translateY(-500%);
    opacity: 1;
  }
  to {
    transform: translateY(500%);
    opacity: 0.3;
  }
}
.stone:nth-child(2) {
  top: 700px;
  left: 300px;
  animation-delay: 0.7s;
  animation-duration: 6s;
}
.stone:nth-child(3) {
  top: 1000px;
  left: 200px;
  animation-delay: 0.5s;
  animation-duration: 3s;
}
.stone:nth-child(4) {
  top: 1000px;
  left: 1300px;
  animation-delay: 0.2s;
  animation-duration: 4s;
}
.stone:nth-child(5) {
  top: 700px;
  left: 1200px;
  animation-delay: 0.8s;
  animation-duration: 7s;
}
.stone:nth-child(6) {
  top: 400px;
  left: 1400px;
}
.stone:nth-child(even) {
  background-image: linear-gradient(to top, #384fde, transparent);
  box-shadow: 0 4px 94px #384fde;
}
